#n1{
    height: 60px;
   background-color: black;
   border:5px solid white ;
  
}
button{
    background-color: rgb(204, 158, 31);
}
#logo{
    color: rgb(204, 158, 31) ;
    font-size: 25px;
   
}
a{
    margin-right: 200px;
    color: aliceblue;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height:500px ;
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}